body { 
    margin:0; 
    /*padding:0; */
    padding-top: 70px; 

}

#logo {
    height: 35px;
    margin-right: 0.1em;
    padding-right: 0.1em;

}
.navbar-brand {
    margin-right: 0.1em;
    padding-right: 0.1em;
}
#map { 
    position:absolute;
    top:0; 
    bottom:0; 
    width:100%; 
}

@font-face {
  font-family: 'Hobbitbrushhand';
  src: url('hobbitonbrushhand.ttf');
  font-family: 'Ringbearer';
  src: url('ring.ttf');  
}


#inputs,
#errors,
#directions {
    position: absolute;
    width: 33.3333%;
    max-width: 300px;
    min-width: 200px;
}

#inputs {
    z-index: 10;
    top: 70px;
    right: 10px;
}

#directions {
    z-index: 99;
    background: rgba(0,0,0,.8);
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

#errors {
    z-index: 8;
    opacity: 0;
    padding: 10px;
    border-radius: 0 0 3px 3px;
    background: rgba(0,0,0,.25);
    top: 90px;
    left: 10px;
}

#nav-title {
    font-family: 'Ringbearer', 'Georgia', serif;
    font-size: 1.5em;
    color: rgb(214, 173, 51);
    margin-left: 0.1em;


}

#navigation {
    /*background-color: rgba(0,71,0,.8);*/
}