body { 
    margin:0; 
    /*padding:0; */
    padding-top: 70px; 

}

#logo {
    height: 35px;
    margin-right: 0.1em;
    padding-right: 0.1em;

}
.navbar-brand {
    margin-right: 0.1em;
    padding-right: 0.1em;
}
#map { 
    position:absolute;
    top:0; 
    bottom:0; 
    width:100%; 
}

@font-face {
  font-family: 'Hobbitbrushhand';
  src: url('hobbitonbrushhand.ttf');
  font-family: 'Ringbearer';
  src: url('ring.ttf');  
/*  font-family: 'BilboHand';
  src: url('bilboregular.ttf');
  font-family: 'PartyBusiness';
  src: url('partybusiness.ttf');*/
}
@font-face {
    font-family: 'BilboHand';
  src: url('bilboregular.ttf');
}
@font-face {
    font-family: 'PartyBusiness';
  src: url('partybusiness.ttf');
}
@font-face {
    font-family: 'Kelt';
  src: url('kelt.ttf');
}


#inputs,
#errors,
#directions {
    position: absolute;
    width: 33.3333%;
    max-width: 300px;
    min-width: 200px;
    display: none;
}

#inputs {
    z-index: 10;
    top: 70px;
    right: 10px;
}

#directions {
    z-index: 99;
    background: rgba(0,0,0,.8);
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

#instructions, #routes {
    color: #CFCFCF;
}
 #routes {
    margin-top: 100px;
 }
#errors {
    z-index: 8;
    opacity: 0;
    padding: 10px;
    border-radius: 0 0 3px 3px;
    background: rgba(0,0,0,.25);
    top: 90px;
    left: 10px;
}

#nav-title {
    font-family: 'Ringbearer', 'Georgia', serif;
    font-size: 1.5em;
    color: rgb(214, 173, 51);
    margin-left: 0.1em;


}
/* all */
::-webkit-input-placeholder { color:#CFCFCF; }
::-moz-placeholder { color:#CFCFCF; } /* firefox 19+ */
:-ms-input-placeholder { color:#CFCFCF; } /* ie */
input:-moz-placeholder { color:#CFCFCF; }
.pac-container {
    /*position: absolute;*/
    /*z-index: -1;*/
    padding-top: 2.5em;
    background-color: rgba(16,16,16,0.8);
}
.pac-matched {
    color: rgba(214, 173, 51, 0.8);
}
.pac-item-query {
    color: rgba(214, 173, 51, 0.5);;
}
.pac-item-selected {
    color: rgb(214, 173, 51);
    background-color: rgb(16,16,16);
}
.pac-item:hover{
    color: rgb(214, 173, 51);
    background-color: rgb(16,16,16);
}
.pac-item{
    border-top: none;
}
#origin, #destination {
    background-color: transparent; 
    border-style: solid; 
    border-width: 0px 0px 1px 0px; 
    color: #CFCFCF;
    font-family: 'Kelt', 'Georgia', serif;
    font-size: 1.5em;
    margin-right: 1.2em;
    /*z-index: -1; position:relative;*/

}

#origin:focus{
    outline-width: 0;
    background-color: transparent;

}

#destination:focus{
    outline-width: 0;
    background-color: transparent;

}

#destination {
        margin-right: 0.5em;
}
#user-drop {
    color: #CFCFCF;
    font-family: 'Kelt', 'Georgia', serif;
    font-size: 1.5em;

}
#origin:-webkit-autofill{
    background-color: transparent;
}

#submit-route {
    font-family: 'Kelt', 'Georgia', serif;
    font-size: 1.5em;
    margin-right: 2em;
    color: rgb(214, 173, 51);

}
#navigation {
    /*background-color: rgba(0,71,0,.8);*/
}