<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8 />
        <title>There and Back Again</title>
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
       
        <script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
        <link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>

<body>
  <!-- Navigation Bar -->
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" id='navigation'>
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- Lord of the Rings walking brand -->
      <a class="navbar-brand" href="/">
        <img id="logo" src="static/walking_gold_big.png">
      </a>
      <!-- Navbar Title -->
      <a href="/" id='nav-title' class='navbar-text navbar-left'>There and Back Again</a>
    </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <ul id='user-drop' class="nav navbar-nav navbar-right">
      <!-- Toggle the dropdown based on if a user is signed in -->
      {% if user %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.user_name }}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li id=''><a href="/logout">Log out</a></li>
            <!-- <li id='profile'><a href="#">Your Profile</a></li>
            <li role="separator" class="divider"></li>
            <li id='saved-routes'><a href="#">Your Saved Walks</a></li>
            <li id='route'><a href="#">Plan a journey</a></li> -->

          </ul>
        </li>
        {% else %}
    
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome! <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li id='login'><a href="#">Log in</a></li>
            <li role="separator" class="divider"></li>
            <li id='signup'><a href="#">Sign up</a></li>
           <!--  <li role="separator" class="divider"></li>
            <li id='route'><a href="#">Plan a journey</a></li> -->

          </ul>
        </li>
        {% endif %}
    </ul>

  <!-- Origin and Destination Text Fields -->
   <form id='route-form' class="navbar-form navbar-right" autocomplete='off'>
      
        <input type="text" required="required" id="origin" placeholder="Begin" name='start'>
        <input type="text" required="required" id="destination" placeholder="End" name='dest'>
        
        <a id='submit-route'>Find a Path</a>
  </form>
  

  </div>
</nav>

<!-- End of Navigation definition -->

    <div id='map'></div>
    <!-- Directions div -->
    <div class='col-md-4' id='directions'>
      <div id='routes'></div>
      <div id='instructions'>
        <div style="text-align:center;">
          <button id="add-heat_btn" name="add-heat" class="btn btn-primary">Generate Heat Map</button><br><br>
          <button id='compare-btn' name="compare-routes" class="btn btn-primary">View Crime Density Graph</button>
        </div>
        <!-- List to add turn instructions to -->
        <ul>
        </ul>

      </div>
    </div>



<!-- Sign up Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign up</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" action="/signup" method='post'>
    <fieldset>

        <!-- Name input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="name">Name</label>  
          <div class="col-md-4">
          <input id="name" name="name" type="text" placeholder="Enter your name." class="form-control input-md" required="">
            
          </div>
        </div>

        <!-- Email input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="email">Email</label>  
          <div class="col-md-4">
          <input id="email" name="email" type="text" placeholder="Enter your email." class="form-control input-md" required="">
            
          </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="password">New Password</label>
          <div class="col-md-4">
            <input id="password" name="password" type="password" placeholder="Choose a password." class="form-control input-md" required="">
            
          </div>
        </div>

        <!-- Sign up Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="signup"></label>
          <div class="col-md-4">
            <button id="signup" name="signup" class="btn btn-primary">Sign Up</button>
          </div>
        </div>

        </fieldset>
        </form>

                
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


<!-- Chart Modal -->
<div class="modal fade" id="chartModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Crime Density Variation Along Path</h4>
      </div>
      <div class="modal-body">
        <canvas id="safeRoute" width="800" height="400"></canvas>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>

<!-- Log in Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Log in</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" action="/login" method='post'>
    <fieldset>

 

        <!-- Email input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="email">Email</label>  
          <div class="col-md-4">
          <input id="email" name="email" type="text" placeholder="Enter your email." class="form-control input-md" required="">
            
          </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="password">Password</label>
          <div class="col-md-4">
            <input id="password" name="password" type="password" placeholder="Enter your password." class="form-control input-md" required="">
            
          </div>
        </div>

        <!-- Log in Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="login"></label>
          <div class="col-md-4">
            <button id="signup" name="signup" class="btn btn-primary">Log in</button>
          </div>
        </div>

        </fieldset>
        </form>

                
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>

<!-- Javascript -->
<script src="static/polyline.js"></script>
<script src="static/Chart.js/Chart.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-heat/v0.1.3/leaflet-heat.js'></script>

<script src="static/map.js"></script>

</body>
</html>
